
body {
 background: url('../img/dw2.png');
 background-attachment: relative;
}

.pictures img {
  /*border: 3px solid #601147;*/
  /*box-shadow: 5px solid white;*/
  border-radius: 25%;
  height: 35%;
  width: 35%;
  margin: 5px;
  -ms-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.pictures img:hover {
  border-radius: 5%;
  height: 80%;
  width: 80%; 
}